<%
const title = "タイトル"
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>テスト</title>
</head>
<body>
  <%- include( 'templates/_header.ejs' ); %>
  <main>
    <p>メインコンテンツ</p>
  </main>
  <%- include( 'templates/_footer.ejs' ); %>
</body>
</html>